.container2 {
  width: 1200px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // margin: 10px;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  // text-align: center;
}

@media (max-width: 2500px) {
  /* For a screen < 960px, this CSS will be read */
  .container2 {
    max-width: 2500px;
  }

  .card-competences {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container2 {
    max-width: 940px;
  }

  .card-competences {
    width: 180px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container2 {
    max-width: 700px;
  }

  .card-competences {
    width: 200px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container2 {
    max-width: 520px;
  }

  .card-competences {
    width: 200px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container2 {
    max-width: 380px;
    overflow-x: hidden;
  }

  .card-competences {
    width: 340px;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }



// @media (max-width: 1200px) {
//   /* For a screen < 960px, this CSS will be read */
//   .container2 {
//     width: 1200px;
//   }
// }

// @media (max-width: 960px) {
//   /* For a screen < 960px, this CSS will be read */
//   .container2 {
//     width: 720px;
//   }
// }

// @media (max-width: 720px) {
//   /* For a screen < 720px, this CSS will be read */
//   .container2 {
//     width: 500px;
//   }
// }

// @media (max-width: 540px) {
//   /* For a screen < 540px, this CSS will be read */
//   .container2 {
//     width: 300px;
//   }
// }
