<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/bcalas78" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/barbaracalas/" target="_blank"><i class="fab fa-brands fa-linkedin"></i></a>
    <%# <a href="https://twitter.com/BarbaraCalas" target="_blank"><i class="fab fa-brands fa-twitter"></i></a> %>
    <a href="https://www.notion.so/Barbara-Calas-Portfolio-f242a52aab24483088759e3967838527" target="_blank"><i class="fas fa-solid fa-laptop-code"></i></a>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Barbara
  </div>
</div>
