<div class="container5">
  <div class="card-category-top mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
    Contact
  </div>


  <div class="container">
    <div class="card">
      <h2>Vous souhaitez travailler avec moi? <br> Voici comment me contacter!</h2>
      <div>
        <%= image_tag "BC.jpg", class:"profile-picture", alt:"Barbara Calas" %>
      </div>
      <h3>Barbara Calas</h3>
    </div>

    <div class="card">
      <div class="card_contact">
        <div class="p-4 bd-highlight text-center contact-border-right"><i class="fas fa-solid fa-phone"></i><br>
          <span><strong>Appelez-moi</strong> <br>
          +33 (0)6.33.10.22.95</span>
        </div>
        <div class="p-4 bd-highlight text-center"><i class="fas fa-solid fa-at"></i><br>
          <span><strong>Adresse e-mail</strong> <br>
          barbara.calas@orange.fr</span>
        </div>
        <div class="p-4 bd-highlight text-center contact-border-left"><i class="fab fa-brands fa-linkedin-in"></i><br>
          <span><strong>LinkedIn</strong> <br>
          <a href="https://www.linkedin.com/in/barbaracalas/" target="_blank" class="text-decoration-none link">barbaracalas</a></span>
        </div>
      </div>
      <div class="card_contact">
        <div class="p-4 bd-highlight text-center"><i class="fab fa-brands fa-github-square"></i></i><br>
          <span><strong>Github</strong> <br>
          <a href="https://github.com/bcalas78" target="_blank" class="text-decoration-none link">Ma page</a></span>
        </div>
        <div class="p-4 bd-highlight text-center"><i class="fas fa-solid fa-laptop-code"></i><br>
          <span><strong>Portfolio</strong> <br>
          <a href="https://www.notion.so/Barbara-Calas-Portfolio-f242a52aab24483088759e3967838527" target="_blank" class="text-decoration-none link">Notion</a></span>
        </div>
      </div>
    </div>
    <div class="d-flex mb-4">
      <%= link_to "Page d'accueil", root_path, class:"text-decoration-none btn-violet" %>
    </div>
  </div>
</div>
