<div class="container1">
  <div class="card-category-top mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560264280-88b68371db39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
    Expériences professionnelles
  </div>

  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1566837945700-30057527ade0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
    <div class="card-product-infos">
      <h2>Développeuse web - Finwedge - Contrat de professionnalisation 💻</h2>
      <p>D'Août 2022 à Février 2023</p>
      <p>Sophia-Antipolis, Alpes Maritimes</p>
      <p type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Finwedge">+ d'infos</p>
    </div>
  </div>

  <div class="modal fade" id="Finwedge" tabindex="-1" aria-labelledby="FinwedgeLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="FinwedgeLabel"><strong>Développeuse web</strong> - Finwedge - Contrat de professionnalisation 💻</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          D'Août 2012 à Février 2023 - <strong>Alternance</strong> - Sophia-Antipolis, Alpes Maritimes. <br><br>
          - Développement en <strong>Angular</strong> du <em>back-office</em> de la plateforme d'innovation financière WedgeInvest + <strong>API</strong> entre le frontend et le backend (en Python).<br>
          - Utilisation de <strong>Jira</strong>, Keycloak, PgAdmin.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1586691902455-98c18af5713f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
    <div class="card-product-infos">
      <h2>Game Master - Riddle Room escape Game - Micro-entreprise 🔍</h2>
      <p>D'octobre 2019 à Septembre 2021</p>
      <p>Nice, Alpes Maritimes</p>
      <p type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Game-master">+ d'infos</p>
    </div>
  </div>

  <div class="modal fade" id="Game-master" tabindex="-1" aria-labelledby="Game-masterLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Game-masterLabel"><strong>Game Master</strong> - Riddle Room escape Game - Micro-entreprise 🔍</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          D'octobre 2019 à Septembre 2021 - <strong>Micro Entreprise</strong> - Nice, Alpes Maritimes. <br><br>
          <em>Animation des sessions de jeu</em> (accompagnement des clients de leur accueil jusqu'à la fin de leur session) et rangement des salles dans le <em>respect des règles sanitaires</em> et du <em>protocole</em> mis en place.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1599747130279-e05a79d13958?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
    <div class="card-product-infos">
      <h2>Éducatrice de football ⚽️</h2>
      <p>De Septembre 2016 à Octobre 2021</p>
      <p>Yvelines et Alpes Maritimes</p>
      <p type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#educatrice">+ d'infos</p>
    </div>
  </div>

  <div class="modal fade" id="educatrice" tabindex="-1" aria-labelledby="educatriceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="educatriceLabel"><strong>Éducatrice</strong> de football ⚽️</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          De Septembre 2016 à Octobre 2021 - <strong>Clubs amateurs de football</strong> des Yvelines (78) et Alpes Maritimes (06) <br><br>
          - <strong>FC Cimiez</strong> (Nice 06) - Juillet 2020 à Octobre 2021 - <em>U19 D2</em> puis <em>U20 D2</em>. <br>
          - <strong>Cas des Eaux de Nice</strong> (06) - Juin 2019 à mai 2020 - <em>U20 DHR</em> et <em>U17 D1</em>. <br>
          - <strong>FC Beausoleil</strong> (06) - Janvier 2018 à Janvier 2019 - <em>U17 D2</em> puis <em>U15</em>. <br>
          - <strong>Voisins FC</strong> (78) - Septembre 2016 à Juin 2017 - <em>U10-U11</em>. <br>
          - <strong>FO Plaisir</strong> (78) - Septembre 2016 à Juin 2017 - <em>U17 (DHR et D2)</em> + 3 mois <em>U13</em>. <br>
          - <strong>FC Versailles</strong> (78) - Septembre 2015 à juin 2016 - <em>U17 (DHR, Excellence et D3)</em>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
    <div class="card-product-infos">
      <h2>Directrice de séjours linguistiques et sportifs ☀️</h2>
      <p>Etés 2014, 2015, 2018 et 2019</p>
      <p>Angleterre</p>
      <p type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#directrice">+ d'infos</p>
    </div>
  </div>

  <div class="modal fade" id="directrice" tabindex="-1" aria-labelledby="directriceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="directriceLabel"><strong>Directrice</strong> de séjours linguistiques et sportifs ☀️</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          De Juillet 2014 à Octobre 2019 - <strong>Action Séjours</strong>: organisme de séjours linguistiques et de colonies de vacances - <em>Angleterre et France</em><br><br>
        Directrice et animatrice de séjours avec des jeunes français en Angleterre et en France. Séjours de 9 à 54 jeunes de 9 à 17 ans. Gestion d'une <strong>équipe de 1 à 3 animateurs</strong>. <br><br>
        - <strong>Accompagnement</strong> des jeunes au quotidien notamment lors d'excursions <br>
        - Application des <strong>règles de sécurité</strong> <br>
        - Préparation et <strong>animation</strong> d'activités sportives et de loisirs <br>
        - <strong>Assistance sanitaire</strong> <br>
        - Relation avec les parents, les partenaires et l'agence à Paris <br>
        - <strong>Suivi administratif</strong> du séjour (gestion du budget, rédaction de fiches et rapports,...), etc.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=932&q=80" />
    <div class="card-product-infos">
      <h2>Assistante d'Éducation en collèges et lycée professionnel 📒</h2>
      <p>De Septembre 2016 à Août 2019</p>
      <p>Yvelines et Alpes-Maritimes</p>
      <p type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#surveillante">+ d'infos</p>
    </div>
  </div>

  <div class="modal fade" id="surveillante" tabindex="-1" aria-labelledby="surveillanteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="surveillanteLabel"><strong>Assistante d'Éducation</strong> en collèges et lycée professionnel 📒</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          De Septembre 2016 à Août 2019 - collèges à <em>Élancourt</em> (78) et <em>Beaulieu-sur-Mer</em> (06) et lycée professionnel <em>Les Palmiers à Nice</em> (06) <br><br>
          - Accueil et <strong>surveillance</strong> des élèves <br>
          - Application du <strong>règlement intérieur</strong> <br>
          - Assurer la <strong>sécurité des élèves</strong> <br>
          - <strong>Gestion des absences</strong> <br>
          - Aide aux devoirs <br>
          - Assistance aux personnels <br>
          - <strong>Accueil téléphonique</strong> de la Vie Scolaire
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1588075592446-265fd1e6e76f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" />
    <div class="card-product-infos">
      <h2>Animatrice 🤹‍♀️</h2>
      <p>De Janvier 2016 à Août 2016</p>
      <p>Île-de-France</p>
      <p type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#animatrice">+ d'infos</p>
    </div>
  </div>

  <div class="modal fade" id="animatrice" tabindex="-1" aria-labelledby="animatriceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="animatriceLabel"><strong>Animatrice</strong> 🤹‍♀️</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          De Janvier 2016 à Août 2016 - <strong>Collectivités et centre de loisirs</strong> - Île-de-France <br> <br>
          - Animatrice en <strong>maison de quartier</strong> à Montigny-le-Bretonneux (78) - juin 2016 à Août 2016 - Préparation et animation d'ateliers + Animation ludiques et sportives auprès d'enfants, d'adolescents et d'adultes lors de l'événement saisonnier "L'été en sable". <br> <br>
          - Animatrice vacataire lors des temps <strong>périscolaires</strong> dans les <em>écoles maternelles et primaires</em> de la ville de Voisins-le-Bretonneux (78) - janvier 2016 à juin 2016 - accueil du matin, du midi et du soir + animation de TAP Anglais. <br> <br>
          - Animatrice en <strong>centre de loisirs</strong> haut de gamme <strong>Club ARCO IRIS</strong> à Boulogne-Billancourt (92) - février 2016 et avril 2016 - Animation et ateliers avec des enfants de 3 à 11 ans pendant les vacances d'hiver et les vacances de Pâques.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mb-4">
    <%= link_to "Page d'accueil", root_path, class:"text-decoration-none btn-violet" %>
  </div>
</div>
