<div class="container3">
  <div class="card-category-top mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80)">
    Formations
  </div>


  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" />
      <div class="card-product-infos">
        <h2>Développement web - Fullstack 💻</h2>
        <p><strong>Le Wagon - Nice, Alpes Maritimes</strong></p>
        <p>De Février à Avril 2022</p>
        <p data-bs-toggle="collapse" data-bs-target="#lewagon" aria-expanded="false" aria-controls="lewagon">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="lewagon">
    <div class="card card-body text-start">
      <p>Diplôme obtenu <strong>"Certification de conceptrice / développeuse d'application web"</strong> <br><br>
      J'ai suivi le Batch #836 avec <strong>Le Wagon Nice</strong>. <br>
      Pendant 9 semaines à temps complet, nous avons suivi un <strong>bootcamp intensif</strong> où nous avons appris <strong>HTML, CSS, Bootstrap, JS ES6, SQL, git, GitHub, Heroku</strong> ou encore <strong>Ruby on Rails</strong>. <br>
      Nous avons conçu, mis en œuvre et en production un <strong>clone d'AirBnB (Trot-de-Trot)</strong> et un prototype d'application web sur Rails, <strong>Lacty (www.lacty.xyz)</strong>.</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1480180566821-a7d525cdfc5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" />
      <div class="card-product-infos">
        <h2>Master 2 "Management des événements et des loisirs sportifs" 🥇</h2>
        <p><strong>Université Paris Sud</strong></p>
        <p>2010 - 2012</p>
        <p data-bs-toggle="collapse" data-bs-target="#mels" aria-expanded="false" aria-controls="mels">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="mels">
    <div class="card card-body text-start">
      <p>Diplôme obtenu <strong>"Master 2 MELS (Management des Evénements et des Loisirs Sportifs), options Marketing et communication"</strong>.<br><br>
      Management du sport, événementiel sportif, communication, marketing. <br>
      Mention <strong>assez bien</strong>. <br>
      Organisation de l'événement <strong>Nocti'Raid 2012</strong>.</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1611545733523-0192314b20aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
      <div class="card-product-infos">
        <h2>Certificat en administration - Master I (échange universitaire) 🥈</h2>
        <p><strong>Faculté d'Administration - Université de Sherbrooke - Québec, Canada</strong></p>
        <p>2010 - 2011</p>
        <p data-bs-toggle="collapse" data-bs-target="#qc" aria-expanded="false" aria-controls="qc">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="qc">
    <div class="card card-body text-start">
      <p><strong>Échange</strong> avec l'<strong>Université Paris Sud</strong> lors de mon année de <strong>Master I en "Management du sport"</strong>. <br><br>
      Management, Marketing, Administration, Communication, GRH. <br>
      <strong>Travail en équipe multiculturelles et multinationales</strong>. <br>
      Mention <strong>Bien</strong>.</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1529932398402-e0b30f66a559?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
      <div class="card-product-infos">
        <h2>Certificat Fédéral de Football ⚽</h2>
        <p><strong>District des Yvelines et Ligue Méditerranée de Football</strong></p>
        <p>2017 - 2021</p>
        <p data-bs-toggle="collapse" data-bs-target="#cff" aria-expanded="false" aria-controls="cff">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="cff">
    <div class="card card-body text-start">
      <p>Formations CFF1 et CFF2 et <strong>obtention de la certification CFF1</strong> dans le District des Yvelines.<br><br>
      <strong>Formations CFF3, CFF4 et spécifique Gardien de but</strong> + <strong>obtention de la certification CFF2</strong> avec la ligue Méditerranée.</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1545670723-196ed0954986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80" />
      <div class="card-product-infos">
        <h2>Initiation Métiers du numérique 💻</h2>
        <p><strong>Université de Versailles Saint-Quentin-En-Yvelines (IUT Velizy)</strong></p>
        <p>2015</p>
        <p data-bs-toggle="collapse" data-bs-target="#iut" aria-expanded="false" aria-controls="iut">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="iut">
    <div class="card card-body text-start">
      <p>Apprentissages des <strong>langages CSS et HTML</strong>. <br>
      Logiciel <strong>Photoshop</strong>. <br>
      <strong>Communication web</strong>, <strong>refonte de sites web</strong>.</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1455540904194-fc101941273a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
      <div class="card-product-infos">
        <h2>Certificate in General English 'Advanced Level'🥝</h2>
        <p><strong>New Zealand Language Centre, Auckland - Nouvelle-Zélande</strong></p>
        <p>2013</p>
        <p data-bs-toggle="collapse" data-bs-target="#nz" aria-expanded="false" aria-controls="nz">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="nz">
    <div class="card card-body text-start">
      <p>Obtention d'un certificat <strong>"Advanced level"</strong> d'<strong>anglais</strong> lors d'un programme Vacances-Travail d'<strong>un an en Nouvelle-Zélande</strong>. <br>
      Approfondissement de la langue anglaise orale (parler et comprendre) et écrite (lecture et rédaction).</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1551958219-acbc608c6377?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
      <div class="card-product-infos">
        <h2>Licence STAPS "Management du Sport" 🥉</h2>
        <p><strong>Université Paris Sud</strong></p>
        <p>2007 - 2010</p>
        <p data-bs-toggle="collapse" data-bs-target="#staps" aria-expanded="false" aria-controls="staps">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="staps">
    <div class="card card-body text-start">
      <p>Diplôme obtenu <strong>"Licence STAPS (Sciences et Techniques des ACtivités Physiques et Sportives) - Management du sport - option Football"</strong>. <br><br>
      Sports management, Marketing. <br>
      Mention <strong>bien</strong>.</p>
    </div>
  </div>

  <div class="card-product mb-4">
      <img src="https://images.unsplash.com/photo-1632571401005-458e9d244591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" />
      <div class="card-product-infos">
        <h2>Baccalauréat Scientifique 📚</h2>
        <p><strong>Lycée Descartes, Montigny-le-Bretonneux (78)</strong></p>
        <p>2004 - 2007</p>
        <p data-bs-toggle="collapse" data-bs-target="#bac" aria-expanded="false" aria-controls="bac">Plus d'infos 🔽</p>
      </div>
  </div>
  <div class="collapse" id="bac">
    <div class="card card-body text-start">
      <p>Obtention du <strong>Baccalauréat Scientifique, spécialité Mathématiques</strong>.<br>
      Mention <strong>bien</strong>.</p>
    </div>
  </div>

  <%# <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> %>

  <div class="d-flex mb-4">
    <%= link_to "Page d'accueil", root_path, class:"text-decoration-none btn-violet" %>
  </div>
</div>
