<div class="container4">
  <div class="card-category-top mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1588591795084-1770cb3be374?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
    Centres d'intérêt
  </div>

  <div class="cards-hobbies">

    <div class="card" data-aos="zoom-in">
      <img src="https://images.unsplash.com/photo-1529929344488-5e812ddb6e2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="Football">
      <div class="card-body">
        <h2 class="card-title">Football</h2>
        <p class="card-text">Je pratique en club <strong>depuis 19 ans</strong>, actuellement à l'<strong>US Valbonne</strong>. <br> Deux entraînements hebdomadaires et plusieurs matchs par mois. <br> Compétition au niveau départemental et régional.</p>
      </div>
    </div>

    <div class="card" data-aos="zoom-in">
      <img src="https://images.unsplash.com/photo-1627314387807-df615e8567de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="Tennis">
      <div class="card-body">
        <h2 class="card-title">Tennis</h2>
        <p class="card-text">Pratique pendant 6 ans en club. <br> Je joue au moins une fois par mois.</p>
      </div>
    </div>

    <div class="card" data-aos="zoom-in">
      <img src="https://images.unsplash.com/photo-1571974599782-87624638275e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" class="card-img-top" alt="Musique">
      <div class="card-body">
        <h2 class="card-title">Musique</h2>
        <p class="card-text">J'ai commencé le <strong>piano</strong> à l'âge de 7 ans et je prends toujours autant de plaisir à jouer sur mon synthé. <br> J'aime aussi <strong>chanter</strong>. <br> J'ai également pratiqué le <strong>violoncelle</strong> et la <strong>batterie</strong> en conservatoire étant plus jeune.</p>
      </div>
    </div>

    <div class="card" data-aos="zoom-in">
      <img src="https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" class="card-img-top" alt="Voyages">
      <div class="card-body">
        <h2 class="card-title">Voyages</h2>
        <p class="card-text">Découverte d’autres cultures lors de voyages autour du monde: <strong>Nouvelle-Zélande</strong>, <strong>Canada</strong>, <strong>USA</strong>, <strong>Europe</strong>.</p>
      </div>
    </div>
  </div>


  <div class="d-flex mb-4">
    <%= link_to "Page d'accueil", root_path, class:"text-decoration-none btn-violet" %>
  </div>
</div>
