.btn-violet {
  background-color: #12044e;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  margin: auto;
}

.btn-violet:hover {
  color: white;
  background-color:#691a4b;
}


.link {
  color: #5963A1;
  background-color:white;
  font-weight: 400;
}

.link:hover {
  color: #12044e;
  background-color:white;
}
